body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

img {
  width: 250px;
}

.single-book-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.books-heading {
  text-align: center;
  margin: 20px 0;
}

a.title {
  text-decoration: none;
  cursor: pointer;
}

a.title:hover #logo-image :hover {
  /* color: rgb(243, 146, 28); */
  background-color: rgba(73, 169, 221, 0.1);
}
